@charset "UTF-8";

/*=============== Section Contact ====================================================================================================================================================================*/

.title {
  font-size: 16px;
  line-height: 19px;
  color: #414141;
  margin-bottom: 30px;
}

.contact-title {
  margin-top: 30px;
}

.contact {
  margin-bottom: 50px;
}

.contact a {
  position: relative;
  top: 0;
  transition: top 0.2s ease 0s;
}

.contact a:hover {
  top: 2px;
}

.contact-inner {
  display: flex;
  max-width: 920px;
  justify-content: space-between;
}

.contact-inner .contact-info .social {
  display: flex;
  flex-wrap: wrap;
  max-width: 365px;
  justify-content: space-between;
}

.contact-inner .contact-info .social a {
  font-size: 14px;
  line-height: 18px;
  color: #414141;
  margin-bottom: 23px;
}

.contact-inner .contact-info .social a img {
  margin-right: 5px;
}

.contact-form input:not(input[type='submit']),
.contact-form textarea {
  border: 0;
  outline: none;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.2s ease 0s;
}

.contact-form input:not(input[type='submit']):focus,
.contact-form textarea:focus {
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.contact-form__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.contact-form__top label {
  font-size: 12px;
  line-height: 14px;
  color: #969696;
  margin-bottom: 5px;
  width: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.contact-form__name,
.contact-form__email {
  display: flex;
  flex-direction: column;
}

.contact-form__name input,
.contact-form__email input {
  width: 207px;
  height: 35px;
  font-size: 16px;
  padding: 0 10px;
  color: #414141;
}

.contact-form__name {
  margin-right: 10px;
}

.contact-form__message {
  display: flex;
  flex-direction: column;
}

.contact-form__message textarea {
  resize: none;
  height: 140px;
  padding: 10px;
  font-size: 16px;
  color: #414141;
}

.contact-form__message label {
  font-size: 12px;
  line-height: 14px;
  color: #969696;
  margin-bottom: 5px;
  width: 75px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.contact-form__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 20px;
}

.contact-form__file {
  line-height: 15px;
  padding: 12px 20px;
}

.contact-form__file label {
  font-size: 13px;
  line-height: 15px;
  color: #414141;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  padding: 12px 20px;
}

.contact-form__file input {
  display: none;
}

.contact-form__submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form__submit input {
  border: 0;
  background-color: #245462;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  padding: 12px 20px;
}

.contact-form__file,
.contact-form__submit {
  position: relative;
  top: 0;
  transition: top 0.2s ease 0s;
}

.contact-form__file:hover,
.contact-form__submit:hover {
  top: 2px;
}

/*=============== Section Map ====================================================================================================================================================================*/

.map-inner {
  margin-bottom: 70px;
}

.map-inner iframe {
  height: 400px;
}

/*=============== /Section Map ====================================================================================================================================================================*/

/*=============== /Section Contact ====================================================================================================================================================================*/

/*=============== Media ====================================================================================================================================================================*/

.bmenu,
.bmenu-nav {
  display: none;
}

.header-search__small {
  display: none;
}

/*=============== /Media ====================================================================================================================================================================*/

@media (min-width: 767px) {
  .footer-phone {
    display: none;
  }

  a,
  button,
  input[type='submit'],
  .bmenu-nav__close,
  .bmenu {
    cursor: pointer;
  }

  .contact-form__file label {
    cursor: pointer;
  }
}

@media (max-width: 1170px) {
  .map-inner iframe {
    height: calc(250px + 150 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 960px) {
  .contact-inner {
    max-width: unset;
    /* flex-direction: column;
        align-items: flex-start; */
  }

  .contact-form__top {
    flex-direction: column;
    max-width: 424px;
  }

  .contact-form__top .contact-form__name {
    margin-right: 0;
    margin-bottom: 10px;
    width: calc(260px + 140 * ((100vw - 320px) / 1120));
  }

  .contact-form__top input {
    width: 100%;
  }

  .contact-form__file {
    padding: 10px 0;
    margin-right: calc(10px + 10 * ((100vw - 320px) / 1120));
  }

  .contact-form__file label {
    padding: 10px 15px;
  }

  .contact-form__submit input {
    padding: 10px 15px;
  }

  .contact-form__bottom {
    margin-bottom: 30px;
  }

  .contact-form__message textarea {
    max-width: 424px;
  }

  .contact-form__buttons {
    justify-content: center;
  }

  .contact-inner .contact-info .social {
    flex-direction: column;
  }

  .contact-inner .contact-info .social a {
    font-size: 12px;
  }

  .contact-inner .contact-info .social a img {
    height: 15px;
  }

  .contact-inner .contact-info p {
    font-size: 12px;
  }

  .header-info {
    margin-top: 25px;
  }

  .header-info .header-info__logo {
    display: flex;
    align-items: center;
  }

  .header-info .header-info__nav {
    display: none;
  }

  .header-menu__items .last {
    display: none;
  }

  .bmenu-nav {
    display: block;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 230px;
    height: 100%;
    background-color: #f9f9f9;
    overflow: auto;
    transition: all 0.4s ease 0s;
    left: -235px;
  }

  .bmenu-nav._active {
    left: 0;
  }

  .bmenu-nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .bmenu-nav a {
    color: #414141;
  }

  .bmenu-nav__close {
    position: absolute;
    top: 20px;
    right: 15px;
    transform: scale(1);
    transition: transform 0.2s ease 0s;
  }

  .bmenu-nav__close:hover {
    transform: scale(1.2);
  }

  .bmenu-nav__title,
  .bmenu-nav__subtitle {
    margin: 22px 0 21px 25px;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #414141;
  }

  .bmenu-nav__item {
    transition: all 0.2s ease 0s;
  }

  .bmenu-nav__item a {
    padding: 16px 0 16px 20px;
    display: flex;
  }

  .bmenu-nav__item a .icon {
    position: relative;
    width: 20px;
    margin-right: 20px;
  }

  .bmenu-nav__item a .icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .bmenu-nav__item:hover {
    background-color: #f1f1f1;
    box-shadow: inset -100px 0 20px rgba(249, 249, 249, 0.8);
  }

  .bmenu-nav__item:last-child {
    margin-bottom: 20px;
  }

  .bmenu-nav__list .discount {
    color: red;
  }

  ._lock {
    overflow: hidden;
  }

  .bmenu {
    display: block;
    position: relative;
    height: 25px;
    padding: 5px;
    margin-right: calc(10px + 10 * (100vw - 320px) / 1120);
    transition: transform 0.2s ease 0s;
    transform: scale(1);
  }

  .bmenu:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 870px) {
  .header-info__area .icon:first-child {
    display: none;
  }
}

@media (max-width: 768px) {
  .footer-top {
    margin-bottom: 8px;
  }

  .footer-bottom {
    margin-bottom: 20px;
  }

  .footer-top__left {
    display: none;
  }

  .footer-top__right {
    text-align: left;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .footer-top__right .footer-address {
    text-align: right;
    width: 175px;
    font-size: 14px;
    line-height: 126.69%;
    color: #414141;
  }

  .footer-top__right .footer-address .footer-phone {
    margin-top: 15px;
  }

  .footer-top__right .footer-address .footer-phone a {
    font-size: 14px;
    line-height: 126.69%;
    color: #414141;
  }

  .footer-bottom__left {
    display: none;
  }

  .footer-bottom__right {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .footer-bottom__right a:first-child {
    display: none;
  }

  .footer-bottom__right img {
    top: 1px;
    margin-right: 5px;
  }

  .footer-bottom__right a {
    margin: 0;
  }

  .header-menu__items .last1 {
    display: none;
  }
}

@media (max-width: 700px) {
  .header-info__area .icon:nth-child(2) {
    display: none;
  }

  .contact-inner {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 640px) {
  .header-menu__items .last2 {
    display: none;
  }
}

@media (max-width: 580px) {
  .header-info__search {
    display: none;
  }

  .header-search__small {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .header-search__small input {
    padding: 13px 10px 13px 45px;
    font-size: 14px;
    line-height: 16px;
    color: #414141;
  }

  .header-search__small img {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    pointer-events: none;
  }

  .header-search__small input {
    width: calc(100% - 35px);
    border: none;
    background-color: #f9f9f9;
    transition: background-color 0.2s ease 0s;
  }

  .header-search__small input:focus {
    background-color: #f3f3f3;
  }

  .header-menu {
    display: none;
  }
}
