@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url('../fonts/roboto400.woff') format('woff'),
    url('../fonts/roboto400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url('../fonts/roboto500.woff') format('woff'),
    url('../fonts/roboto500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url('../fonts/roboto700.woff') format('woff'),
    url('../fonts/roboto700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
