.touch-slide-img {
  background: #ffffff;
  padding: 20px;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
}

.touch-slide-text {
  font-size: 9px;
  text-align: center;
}

.touch-slide:not(:last-child) {
  margin-right: 5px;
}

.touch-slider {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.touch-slider-line {
  display: flex;
  left: 0;
  width: 100%;
  transition: all ease 1s;
}

.wrapper-touch-slider {
  display: none;
}

.wrapper-touch-slider {
  max-width: 580px;
  min-width: 200px;
  margin: 0 auto;
  padding: 0 10px;
}

.gallery {
  width: 100%;
  visibility: hidden;
  margin: 0 auto 30px;
}
.touch-slider {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.stage {
  overflow: hidden;
}
.stage > div {
  float: left;
  position: relative;
}

@media (max-width: 580px) {
  .wrapper-touch-slider {
    display: flex;
    margin-top: 15px;
  }
}
